html, body { 
  font-family: Arial, sans-serif;
  height: 100%; 
  margin: 0; 
  padding: 0; 
}

#map { 
  height: 100%; 
}

.search-and-list{
  position: absolute;
    top: 50px;
    left: 0;
    width: 50%;
    max-width: 250px;
    background-color: white;
    opacity: 0.8;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

.search-and-list ul {
  padding: 0;
}

.search-box {
  width: 100%;
  margin-top: 5px;
  border: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
  font-size: 20px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
}

.search-and-list li {
  list-style-type: none;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  font-size: 18px;
}

.search-and-list li:hover {
  background-color: rgba(57, 57, 197, 0.548);
}

.row-selected {
  background-color: rgba(45, 180, 63, 0.39);
}

.info-window-pic {
  padding-left: 20px;
}

@media screen and (max-width: 415px) {
  .search-and-list li {
    font-size: 16px;
  }
  .search-box {
    font-size: 18px;
  }
}